<h1>Accepted Movies CSV Structure</h1>
<p>The following columns are expected in the movies CSV file:</p>
<ul>
  <li>Movie</li>
  <li>Description</li>
  <li>Director</li>
  <li>Actor</li>
  <li>Year</li>
  <li>Filming location</li>
  <li>Country</li>
</ul>
<%= link_to 'Back to Import CSV', import_csv_path %>
