<h1>Accepted Reviews CSV Structure</h1>
<p>The following columns are expected in the reviews CSV file:</p>
<ul>
  <li>movie_title</li>
  <li>reviewer</li>
  <li>stars</li>
  <li>review</li>
</ul>
<%= link_to 'Back to Import CSV', import_csv_path %>
